.show-image {
    position: relative;
    padding: 20px;
    
    display: flex;
    
    flex-direction: column;
    align-items: center;

    &__picture {
       // border: 2px dashed grey;
       
        
    }

    &__img {
       height: 400px;
    }

    &__name {
        //background: white;
       /* position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);*/
        text-align: center; 
        font-size: 30px;
        width: 52%;
        color: rgb(112, 141, 112);
        font-weight: 700;
        letter-spacing: 2px;
    }
}